<div class="width-nav mt-30">
    <div class="col s12 mb-20">
        <span class="left font-40">SMS Masuk</span>
    </div>
    <div class="col s12 hide-on-med-and-down">
        <table class="striped">
            <thead>
                <tr>
                    <th width="10%" data-field="time">Tanggal</th>
                    <th width="10%" data-field="sender">Pengirim</th>
                    <th width="15%" data-field="case">Urusan Pelanggan</th>
                    <th width="65%" data-field="message">Pesan</th>
                </tr>
            </thead>
            <tbody class="font-normal">
            {{#each inboxes}}
                <tr class="hoverable">
                    <td class="break-word">
                        {{date}}
                    </td>
                    <td>
                        {{nameNumber name number}}
                    </td>
                    <td class="break-word">
                        {{hal}}
                    </td>
                    <td class="break-word">
                        {{TextDecoded}}
                    </td>
                    <td class="valign-wrapper">
                        <a class='dropdown-button btn-flat white bordered font-13' href='#' data-activates='action{{ID}}'>action</a>
                        <ul id='action{{ID}}' class='dropdown-content'>
                            <li><a class="black-text font-13" href="https://crm.zoho.com/crm/GlobalSearch1.do?sModules=AllEntities&searchword={{number}}">CRM</a></li>
                            <li><a class="black-text font-13" href="https://support.zoho.com/support/cermati/ShowHomePage.do#Cases/search/CurDep/{{number}}">SUPPORT</a></li>
                            <li><a class="black-text font-13" href="/detailconversation/{{number}}">Percakapan</a></li>
                        </ul>
                    </td>
                </tr>
            {{/each}}
            <tbody>
        </table>
    </div>
    <div class="col s12 hide-on-large-only">
        <ul class="collection">
            {{#each inboxes}}
                <li class="collection-item">
                    <div class="col s12">
                        <div class="col s12 mb-20 font-normal">
                            <a class='dropdown-button-mini left btn-floating blue' href='#' data-activates='actionMini{{ID}}'><i class="material-icons">menu</i></a>
                            <div class="collection-content">
                                <div class="col s12">
                                    <span>{{date}}</span><br>
                                    <span>{{nameNumber name number}}</span><br>
                                    <span>{{hal}}</span>
                                </div>
                                <div class="col s12">
                                    <div class="divider"></div>
                                    <p>
                                        {{TextDecoded}}
                                    </p>
                                </div>
                            </div>

                            <ul id='actionMini{{ID}}' class='dropdown-content black-text'>
                                <li><a href="https://crm.zoho.com/crm/GlobalSearch1.do?sModules=AllEntities&searchword={{number}}">CRM</a></li>
                                <li><a href="https://support.zoho.com/support/cermati/ShowHomePage.do#Cases/search/CurDep/{{number}}">SUPPORT</a></li>
                                <li class="divider"></li>
                                <li><a href="/detailconversation/{{number}}">Percakapan</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>